.section {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}































  







.title {
  margin-bottom: 20px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--secondary-txt--mode-light);

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;

    font-family: $secondary-font;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;

    color: var(--secondary-txt--mode-light);

  }

}

.title--mode-light {
  color: var(--secondary-txt--mode-light);
}

.title--mode-dark {
  color: var(--primary-txt--mode-dark);
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.subtitle--mode-light {
  color: var(--main-txt--mode-light);
}

.subtitle--mode-dark {
  color: var(--main-txt--mode-dark);
}

.public-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-txt--mode-light);
}

.public-link:hover,
.public-link:focus {
  color: var(--accent-cl);
}