%fill-icon {
  display: block;
  fill: currentColor;
}

%footer-cta {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

%title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--color-h-second);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}


%btn {
  width: 100%;
  padding: 12px;

  font-weight: 600;
  // font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;

  transition: background-color var(--anim-slow), border-color var(--anim-slow);
}